[Unit]
Description=Shadowsocks-libev Server Service
After=network.target
Requires=ss-server.service

[Service]
Type=simple
Restart=always
User=nobody
Group=nogroup
LimitNOFILE=32768
ExecStart=/usr/bin/kcp-server -c /etc/trident/kcp_config.json

[Install]
WantedBy=multi-user.target
